In [1]:
import os
import configparser

# Loading configurations
configParser = configparser.RawConfigParser()   
configFilePath = r'configuration.txt'
configParser.read(configFilePath)

insert_amd_env_vars =  int(configParser.get('COMMON', 'insert_amd_env_vars'))
HSA_OVERRIDE_GFX_VERSION =  configParser.get('COMMON', 'HSA_OVERRIDE_GFX_VERSION')
ROCM_PATH =  configParser.get('COMMON', 'ROCM_PATH')

if(insert_amd_env_vars != 0):
    os.environ["HSA_OVERRIDE_GFX_VERSION"] = HSA_OVERRIDE_GFX_VERSION
    os.environ["ROCM_PATH"] = ROCM_PATH
    
#import os
#os.environ["TF_CPP_MIN_LOG_LEVEL"] = "2"
#os.environ["AUTOGRAPH_VERBOSITY"] = "0"

In [2]:

import configparser

# Loading configurations
configParser = configparser.RawConfigParser()   
configFilePath = r'configuration.txt'
configParser.read(configFilePath)


evaluation_results_folder = configParser.get('evaluate_imagen', 'evaluation_results_folder')


datasetPathDatabase =  configParser.get('COMMON', 'test_datasetPathDatabase') + '/dataset.db'


cuda =  int(configParser.get('COMMON', 'cuda'))
cpus =  int(configParser.get('COMMON', 'cpus'))

In [3]:
#TODO document jupyter
import pickle
import sqlite3 as sl
import pandas as pd
import numpy as np
from PIL import Image

from textwrap import wrap
import os


import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None

In [5]:
import lancedb
uri = datasetPathDatabase
db = lancedb.connect(uri)

vector_tbl = db.open_table("video_stage1")
videos = vector_tbl.to_pandas()
videos

,id,video_path,face_path,user,blurred_face_path,features_path,age,gender,ethnicity,vector,stage
0,0,/home/gamal/Datasets/Dataset1Test/VideoTest/id...,/home/gamal/Datasets/Dataset1Test/FacesTest/id...,id00001,/home/gamal/Datasets/Dataset1Test/GuidesTest/i...,/home/gamal/Datasets/Dataset1Test/FeaturesTest...,37.0,Man,asian,"[0.008719929, 0.00391743, 0.005621904, 0.01561...",1
1,1,/home/gamal/Datasets/Dataset1Test/VideoTest/id...,/home/gamal/Datasets/Dataset1Test/FacesTest/id...,id00002,/home/gamal/Datasets/Dataset1Test/GuidesTest/i...,/home/gamal/Datasets/Dataset1Test/FeaturesTest...,33.0,Man,black,"[0.034821488, 0.011017442, 0.012458151, 0.0310...",1
2,2,/home/gamal/Datasets/Dataset1Test/VideoTest/id...,/home/gamal/Datasets/Dataset1Test/FacesTest/id...,id00003,/home/gamal/Datasets/Dataset1Test/GuidesTest/i...,/home/gamal/Datasets/Dataset1Test/FeaturesTest...,28.0,Man,white,"[0.020591458, 0.009568957, 0.0065427506, 0.015...",1
3,3,/home/gamal/Datasets/Dataset1Test/VideoTest/id...,/home/gamal/Datasets/Dataset1Test/FacesTest/id...,id00003,/home/gamal/Datasets/Dataset1Test/GuidesTest/i...,/home/gamal/Datasets/Dataset1Test/FeaturesTest...,26.0,Man,white,"[0.022685481, 0.014688694, 0.0077175363, 0.015...",1
4,4,/home/gamal/Datasets/Dataset1Test/VideoTest/id...,/home/gamal/Datasets/Dataset1Test/FacesTest/id...,id00004,/home/gamal/Datasets/Dataset1Test/GuidesTest/i...,/home/gamal/Datasets/Dataset1Test/FeaturesTest...,24.0,Man,black,"[0.020744538, 0.02151983, 0.0071302326, 0.0234...",1
5,5,/home/gamal/Datasets/Dataset1Test/VideoTest/id...,/home/gamal/Datasets/Dataset1Test/FacesTest/id...,id00005,/home/gamal/Datasets/Dataset1Test/GuidesTest/i...,/home/gamal/Datasets/Dataset1Test/FeaturesTest...,27.0,Man,white,"[0.011789978, 0.005180944, -0.0041359775, 0.01...",1
6,6,/home/gamal/Datasets/Dataset1Test/VideoTest/id...,/home/gamal/Datasets/Dataset1Test/FacesTest/id...,id00006,/home/gamal/Datasets/Dataset1Test/GuidesTest/i...,/home/gamal/Datasets/Dataset1Test/FeaturesTest...,29.0,Woman,asian,"[0.002584092, 0.007880463, 0.014118768, 0.0104...",1
7,7,/home/gamal/Datasets/Dataset1Test/VideoTest/id...,/home/gamal/Datasets/Dataset1Test/FacesTest/id...,id00007,/home/gamal/Datasets/Dataset1Test/GuidesTest/i...,/home/gamal/Datasets/Dataset1Test/FeaturesTest...,26.0,Man,black,"[0.017048048, 0.021359792, 0.017510023, 0.0192...",1
8,8,/home/gamal/Datasets/Dataset1Test/VideoTest/id...,/home/gamal/Datasets/Dataset1Test/FacesTest/id...,id00008,/home/gamal/Datasets/Dataset1Test/GuidesTest/i...,/home/gamal/Datasets/Dataset1Test/FeaturesTest...,30.0,Man,white,"[0.018406654, 0.016798086, 0.018519454, 0.0229...",1
9,9,/home/gamal/Datasets/Dataset1Test/VideoTest/id...,/home/gamal/Datasets/Dataset1Test/FacesTest/id...,id00009,/home/gamal/Datasets/Dataset1Test/GuidesTest/i...,/home/gamal/Datasets/Dataset1Test/FeaturesTest...,27.0,Woman,white,"[0.0032445402, 0.006399524, 0.006689785, 0.020...",1
10,10,/home/gamal/Datasets/Dataset1Test/VideoTest/id...,/home/gamal/Datasets/Dataset1Test/FacesTest/id...,id00010,/home/gamal/Datasets/Dataset1Test/GuidesTest/i...,/home/gamal/Datasets/Dataset1Test/FeaturesTest...,26.0,Man,white,"[0.00631978, 0.02191805, -0.0048014326, 0.0250...",1

In [8]:

i = 0
for index, video_row in videos.iterrows():
    features_path = video_row['features_path']
    user_true = video_row['user']
    face_emb_true = video_row['vector']

    with open(features_path, 'rb') as file1: 
        data = pickle.load(file1)
    face_emb = data['FACE_EMB_FROM_SPEECH']
    face_emb = pickle.loads(face_emb)
    face_emb = face_emb[0]
    print(face_emb)
    result = vector_tbl.search(face_emb).limit(10).to_df()

    match_1 = result.iloc[0]['user']
    match_2 = result.iloc[1]['user']
    match_3 = result.iloc[2]['user']
    match_4 = result.iloc[3]['user']
    match_5 = result.iloc[4]['user']
    match_6 = result.iloc[5]['user']
    match_7 = result.iloc[6]['user']
    match_8 = result.iloc[7]['user']
    match_9 = result.iloc[8]['user']
    match_10= result.iloc[9]['user']

    df_table = pd.DataFrame()
    df_table = df_table.append({'id': i , 'user_true':user_true,
                    'match_1':match_1,'match_2':match_2,'match_3':match_3,'match_4':match_4,'match_5':match_5,
                    'match_6':match_6,'match_7':match_7,'match_8':match_8,'match_9':match_9,'match_10':match_10,
                    'face_emb_true':face_emb_true,'face_emb_from_speech':face_emb
                    }, ignore_index=True)
    


    try:
        matches_tbl.add(df_table)
    except:
        db.drop_table('matches_s2FE', df_table)
        matches_tbl = db.create_table('matches_s2FE', df_table)

    i = i + 1

[ 0.01077188  0.00556525  0.01339542 ... -0.00698666  0.01112585
  0.01105427]
[ 0.01139584  0.00551978  0.00842775 ... -0.00513061  0.0120423
  0.00681387]
[ 0.01514159  0.00824451  0.0107999  ... -0.00528015  0.0119825
  0.01174669]
[ 0.01411817  0.00548054  0.00739259 ... -0.00548559  0.0124222
  0.01210566]
[ 0.01467781  0.00113713  0.00564064 ... -0.00933097  0.00719604
  0.00962109]
[ 0.00833106  0.00754518  0.03930792 ... -0.00379333  0.02300813
  0.02282244]
[ 0.01062853  0.00762168  0.01065938 ... -0.0044254   0.01455465
  0.01313293]
[ 0.01372914  0.0064175   0.01082839 ... -0.00660424  0.01374323
  0.01182276]
[ 0.01369425  0.00363439  0.00849167 ... -0.00443827  0.01235377
  0.01433697]
[ 0.00594052  0.00294181  0.01374854 ... -0.00826566  0.0163276
 -0.00051657]
[ 0.00721554  0.00704996  0.0145436  ... -0.00661081  0.01052447
  0.01507746]

/tmp/ipykernel_1091584/323930107.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_table = df_table.append({'id': i , 'user_true':user_true,
/tmp/ipykernel_1091584/323930107.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_table = df_table.append({'id': i , 'user_true':user_true,
/tmp/ipykernel_1091584/323930107.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_table = df_table.append({'id': i , 'user_true':user_true,
/tmp/ipykernel_1091584/323930107.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_table = df_table.append({'id': i , 'user_true':user_true,
/tmp/ipykernel_1091584/323930107.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_table = df_table.append({'id': i , 'user_true':user_true,
/tmp/ipykernel_1091584/323930107.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_table = df_table.append({'id': i , 'user_true':user_true,
/tmp/ipykernel_1091584/323930107.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_table = df_table.append({'id': i , 'user_true':user_true,
/tmp/ipykernel_1091584/323930107.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_table = df_table.append({'id': i , 'user_true':user_true,
/tmp/ipykernel_1091584/323930107.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_table = df_table.append({'id': i , 'user_true':user_true,
/tmp/ipykernel_1091584/323930107.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_table = df_table.append({'id': i , 'user_true':user_true,
/tmp/ipykernel_1091584/323930107.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_table = df_table.append({'id': i , 'user_true':user_true,

In [9]:
matches = matches_tbl.to_pandas()
matches

,id,user_true,match_1,match_2,match_3,match_4,match_5,match_6,match_7,match_8,match_9,match_10,face_emb_true,face_emb_from_speech
0,0,id00001,id00001,id00007,id00009,id00006,id00003,id00003,id00010,id00005,id00002,id00004,"[0.008719929, 0.00391743, 0.005621904, 0.01561...","[0.01077187690814888, 0.0055652520924846, 0.01..."
1,1,id00002,id00007,id00009,id00001,id00006,id00003,id00010,id00003,id00005,id00004,id00008,"[0.034821488, 0.011017442, 0.012458151, 0.0310...","[0.01139584218612909, 0.005519779326393277, 0...."
2,2,id00003,id00001,id00006,id00007,id00009,id00003,id00003,id00005,id00010,id00002,id00004,"[0.020591458, 0.009568957, 0.0065427506, 0.015...","[0.015141587833808248, 0.008244509181100444, 0..."
3,3,id00003,id00001,id00007,id00006,id00009,id00003,id00003,id00005,id00010,id00002,id00004,"[0.022685481, 0.014688694, 0.0077175363, 0.015...","[0.014118166801864849, 0.005480542378198286, 0..."
4,4,id00004,id00006,id00003,id00001,id00003,id00007,id00009,id00005,id00004,id00010,id00008,"[0.020744538, 0.02151983, 0.0071302326, 0.0234...","[0.014677810987470568, 0.0011371287641749304, ..."
5,5,id00005,id00008,id00006,id00009,id00005,id00003,id00007,id00004,id00010,id00003,id00001,"[0.011789978, 0.005180944, -0.0041359775, 0.01...","[0.008331061476609355, 0.007545182537289155, 0..."
6,6,id00006,id00006,id00009,id00005,id00003,id00007,id00001,id00003,id00010,id00008,id00004,"[0.002584092, 0.007880463, 0.014118768, 0.0104...","[0.010628527664165532, 0.0076216792144194224, ..."
7,7,id00007,id00006,id00001,id00007,id00009,id00003,id00003,id00005,id00010,id00004,id00008,"[0.017048048, 0.021359792, 0.017510023, 0.0192...","[0.013729137652747643, 0.006417503195578402, 0..."
8,8,id00008,id00001,id00006,id00007,id00009,id00003,id00003,id00005,id00010,id00004,id00002,"[0.018406654, 0.016798086, 0.018519454, 0.0229...","[0.013694246382487658, 0.003634392927898458, 0..."
9,9,id00009,id00004,id00007,id00009,id00006,id00001,id00010,id00003,id00003,id00002,id00005,"[0.0032445402, 0.006399524, 0.006689785, 0.020...","[0.00594051548479391, 0.0029418069137603403, 0..."
10,10,id00010,id00001,id00007,id00009,id00003,id00006,id00003,id00010,id00002,id00005,id00004,"[0.00631978, 0.02191805, -0.0048014326, 0.0250...","[0.0072155415398782, 0.0070499576423711414, 0...."

In [10]:
from collections import Counter

def Most_Common(lst):
    data = Counter(lst)
    return data.most_common(1)[0][0]

def face_recog_first_n_matches(row,n):
    #print(n == 3)

    user = row['user_true']
    match_1 = row['match_1']
    match_2 = row['match_2']
    match_3 = row['match_3']
    match_4 = row['match_4']
    match_5 = row['match_5']
    match_6 = row['match_6']
    match_7 = row['match_7']
    match_8 = row['match_8']
    match_9 = row['match_9']
    match_10 = row['match_10']
    if(n==3):
        if(user == match_1 or user == match_2 or user == match_3):
            row['match_n_3'] = user
        else:
            lst = [match_1,match_2,match_3]
            row['match_n_3'] = Most_Common(lst)
    elif(n==5):
        if(user == match_1 or user == match_2 or user == match_3 or user == match_4 or user == match_5):
            row['match_n_5'] = user
        else:
            lst = [match_1,match_2,match_3,match_4,match_5]
            row['match_n_5'] = Most_Common(lst)
    elif(n==10):
        if(user == match_1 or user == match_2 or user == match_3 or user == match_4 or user == match_5 or
           user == match_6 or user == match_7 or user == match_8 or user == match_9 or user == match_10):
            row['match_n_10'] = user
        else:
            lst = [match_1,match_2,match_3,match_4,match_5,match_6,match_7,match_8,match_9,match_10]
            row['match_n_10'] = Most_Common(lst)
    else:
        raise Exception("n can only be 3,5 or 10") 
    
    #print(row)
    return row

In [11]:
matches = matches.apply(face_recog_first_n_matches,args=(3,),axis=1)
matches = matches.apply(face_recog_first_n_matches,args=(5,),axis=1)
matches = matches.apply(face_recog_first_n_matches,args=(10,),axis=1)
matches

,id,user_true,match_1,match_2,match_3,match_4,match_5,match_6,match_7,match_8,match_9,match_10,face_emb_true,face_emb_from_speech,match_n_3,match_n_5,match_n_10
0,0,id00001,id00001,id00007,id00009,id00006,id00003,id00003,id00010,id00005,id00002,id00004,"[0.008719929, 0.00391743, 0.005621904, 0.01561...","[0.01077187690814888, 0.0055652520924846, 0.01...",id00001,id00001,id00001
1,1,id00002,id00007,id00009,id00001,id00006,id00003,id00010,id00003,id00005,id00004,id00008,"[0.034821488, 0.011017442, 0.012458151, 0.0310...","[0.01139584218612909, 0.005519779326393277, 0....",id00007,id00007,id00003
2,2,id00003,id00001,id00006,id00007,id00009,id00003,id00003,id00005,id00010,id00002,id00004,"[0.020591458, 0.009568957, 0.0065427506, 0.015...","[0.015141587833808248, 0.008244509181100444, 0...",id00001,id00003,id00003
3,3,id00003,id00001,id00007,id00006,id00009,id00003,id00003,id00005,id00010,id00002,id00004,"[0.022685481, 0.014688694, 0.0077175363, 0.015...","[0.014118166801864849, 0.005480542378198286, 0...",id00001,id00003,id00003
4,4,id00004,id00006,id00003,id00001,id00003,id00007,id00009,id00005,id00004,id00010,id00008,"[0.020744538, 0.02151983, 0.0071302326, 0.0234...","[0.014677810987470568, 0.0011371287641749304, ...",id00006,id00003,id00004
5,5,id00005,id00008,id00006,id00009,id00005,id00003,id00007,id00004,id00010,id00003,id00001,"[0.011789978, 0.005180944, -0.0041359775, 0.01...","[0.008331061476609355, 0.007545182537289155, 0...",id00008,id00005,id00005
6,6,id00006,id00006,id00009,id00005,id00003,id00007,id00001,id00003,id00010,id00008,id00004,"[0.002584092, 0.007880463, 0.014118768, 0.0104...","[0.010628527664165532, 0.0076216792144194224, ...",id00006,id00006,id00006
7,7,id00007,id00006,id00001,id00007,id00009,id00003,id00003,id00005,id00010,id00004,id00008,"[0.017048048, 0.021359792, 0.017510023, 0.0192...","[0.013729137652747643, 0.006417503195578402, 0...",id00007,id00007,id00007
8,8,id00008,id00001,id00006,id00007,id00009,id00003,id00003,id00005,id00010,id00004,id00002,"[0.018406654, 0.016798086, 0.018519454, 0.0229...","[0.013694246382487658, 0.003634392927898458, 0...",id00001,id00001,id00003
9,9,id00009,id00004,id00007,id00009,id00006,id00001,id00010,id00003,id00003,id00002,id00005,"[0.0032445402, 0.006399524, 0.006689785, 0.020...","[0.00594051548479391, 0.0029418069137603403, 0...",id00009,id00009,id00009
10,10,id00010,id00001,id00007,id00009,id00003,id00006,id00003,id00010,id00002,id00005,id00004,"[0.00631978, 0.02191805, -0.0048014326, 0.0250...","[0.0072155415398782, 0.0070499576423711414, 0....",id00001,id00001,id00010

In [12]:
matches['face_emb_true'].to_numpy()
np.stack( matches['face_emb_true'].to_numpy(), axis=1 )

array([[ 0.00871993,  0.03482149,  0.02059146, ...,  0.01840665,
         0.00324454,  0.00631978],
       [ 0.00391743,  0.01101744,  0.00956896, ...,  0.01679809,
         0.00639952,  0.02191805],
       [ 0.0056219 ,  0.01245815,  0.00654275, ...,  0.01851945,
         0.00668979, -0.00480143],
       ...,
       [ 0.00986228,  0.00851123, -0.00822359, ..., -0.01322974,
        -0.00766504, -0.00785808],
       [ 0.00576937,  0.01357326,  0.01179793, ...,  0.02558711,
         0.01626953,  0.01547698],
       [ 0.00549431,  0.02200904,  0.02214198, ...,  0.01798278,
         0.0018133 ,  0.01840857]], dtype=float32)

In [13]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

y_actual = np.stack( matches['face_emb_true'].to_numpy(), axis=1 )
y_pred = np.stack( matches['face_emb_from_speech'].to_numpy(), axis=1 )

rms = mean_squared_error(y_actual, 
                         y_pred, squared=False)
print('Root mean squared error: ' + str(rms))


acc_1 = accuracy_score(matches['user_true'], matches['match_1'])
acc_3 = accuracy_score(matches['user_true'], matches['match_n_3'])
acc_5 = accuracy_score(matches['user_true'], matches['match_n_5'])
acc_10 = accuracy_score(matches['user_true'], matches['match_n_10'])
print('recall @ k = 1: ' + str(acc_1 * 100))
print('recall @ k = 3: ' + str(acc_3 * 100))
print('recall @ k = 5: ' + str(acc_5 * 100))
print('recall @ k = 10: ' + str(acc_10 * 100))

Root mean squared error: 0.008506727797594382
recall @ k = 1: 18.181818181818183
recall @ k = 3: 36.36363636363637
recall @ k = 5: 63.63636363636363
recall @ k = 10: 81.81818181818183